Shape area calculator

In [ ]:
pi = 3
r = 5
h = 10
SA = 2 * pi * r ** 2 + 2 * pi * r * h
print(SA)

450

Rock-paper-scissors (with the while loop)

In [ ]:
p1 = input("Player 1, rock, paper, or scissors? ")
p2 = input("Player 2, rock, paper, or scissors? ")

if p1 == p2:
  print("Draw!")

if p1 == "rock" and p2 == "paper":
        print("Player 2 wins!")

if p1 == "rock" and p2 == "scissors":
        print("Player 1 wins!")

if p1 == "paper" and p2 == "rock":
        print("Player 1 wins!")

if p1 == "paper" and p2 == "scissors":
        print("Player 2 wins!")

if p1 == "scissors" and p2 == "paper":
        print("Player 1 wins!")

if p1 == "scissors" and p2 == "rock":
        print("Player 2 wins!")

Player 1, rock, paper, or scissors? rock
Player 2, rock, paper, or scissors? rock
Draw!

Numerical calculator

In [ ]:
n1 = float(input('enter number: '))
n2 = float(input('enter number: '))
symbol = input('Choose operator (+, -, *, /, **):')

if symbol == '+':
  print(n1 + n2)
elif symbol == '-':
  print(n1 - n2)
elif symbol == '*':
  print(n1 * n2)
elif symbol == '/':
  print(n1 / n2)
elif symbol == '**':
  print(n1 ** n2)

**Parking garage**

In [ ]:
for ad in range (0, 201, 25):
  additional= 2* round(ad**(0.5)) #the ,5 gives 5 decimals
  profit= (20+additional)*10 -200-ad
  print(ad, profit)

0 0
25 75
50 90
75 105
100 100
125 95
150 90
175 85
200 80

**Movie theater**

In [ ]:
def calcFee(hours):
  base_fee = 5
  return hours*2.5 + base_fee

hours = int(input('Enter the number of hours parked: '))

print("$",calcFee(hours) )

**Months2Numbers dictionary**

In [ ]:
months = {}

names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for i in range(len(numbers)):
  months[i+1] = names[i]

months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

**Fee calculation and display functions**

In [ ]:
def range_check(num, low, high):
  if num >= low and num <= high:
    return True
  else:
    return False

In [ ]:
print(range_check(2,1,3))

True

In [ ]:
range_check(2,1,3)

True

In [ ]:
def inputs():
  annual_salary = float(input('Enter salary:'))
  portion = float(input('Enter portion:'))
  total_cost = float(input('Enter cost:'))
  return annual_salary, portion, total_cost

In [ ]:

annual_salary = float(input('Enter your annual salary: '))
portion_saved = float(input('Enter the percent of your salary to save, as a decimal: '))
total_cost = float(input('Enter the cost of your dream home: '))
semi_annual_raise = float(input('Enter the semi-annual raise, as a decimal: '))

portion_down_payment = 0.25
r = 0.04

down_payment = total_cost * portion_down_payment
current_savings = 0
months = 0

while current_savings < down_payment:
    current_savings += current_savings * (r / 12) + (portion_saved * (annual_salary / 12))
    months += 1

    if months % 6 == 0:
        annual_salary += annual_salary * semi_annual_raise

print(f"Number of months: {months}")

In [ ]:
annual_salary, portion, total_cost = inputs()

months = 0
amount = 0

Enter salary:5000
Enter portion:23
Enter cost:450000

**Reverse function (recursion)**

In [ ]:
def rev(s):
    if len(s) == 1:
        return s
    else:
        return s[-1]+ rev(s[:-1])

print(rev('hello'))

olleh

Student class

In [ ]:
class Student:
  def __init__(self, name, number):
    self.name = name
    self.number = number
    self.__courses = []

  def enroll(self, course):
    if course not in self.__courses:
      self.__courses.append(course)
    else:
      print(f'You have already enrolled in course: {course}')

  def get_courses(self):
    return self.__courses

class GradStudent(Student):
  def __init__(self, name, number, stipend):
    super().__init__(name, number)
    self.stipend = stipend

  def get_stipend(self):
    return self.stipend

  def set_stipend(self, newStipend):
    self.stipend = newStipend

In [ ]:
s = Student('Bob', '123')
g = GradStudent('Alice', '456', 2000)

s.enroll('ABC123')
g.enroll('XYZ456')